<div class="fixed-action-btn">
    <a href="https://cryptic-chamber-30798.herokuapp.com/" target="popup"
     onclick="window.open('https://cryptic-chamber-30798.herokuapp.com/','popup','width=600,height=600'); return false;"
     class="btn-floating btn-large waves-effect waves-light green"><i class="fas fa-phone-alt"></i></a>
</div>