<nav class="headerClass">
    <div class="nav-wrapper container">

        <a href="#!" class="brand-logo center" style="color:#5a2f2f">مهارات القراءة الأوليّة في اللّغة العربيّة</a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger show-on-large"><i class="fas fa-bars" style="color:#5a2f2f"></i></a>
        <ul class="sidenav" id="mobile-demo">
            <li><a href="/exams">الاختبارات</a></li>
            <li><a href="/statistics">التقارير</a></li>
            <li><a href="/questions">بنك الاسئلة</a></li>
            <li><a href="/student">قائمة المستخدمين</a></li>
            <li><a href="/logout">خروج</a></li>
        </ul>
    </div>
</nav>