<center><h4 style="margin-top: 50px;color:#573848">مرحبا بكم على المنصّة الالكترونية لاختبار المهارات الأوّليّة في اللّغة العربيّة</h4></center>

<!DOCTYPE html>
<html>
	<head>
		<title>تقارير احصائية</title>
		<meta name="description" content="chart created using amCharts live editor" />
	
		
	</head>
	<body>
		 <div id="test" style=" background-image: url('images/bg5.jpg');height:800px; background-position: center; background-repeat: no-repeat; background-size: cover;" ></div>
	</body>
</html>

