<h4 style="font:italic 12px/30px Georgia, serif; font-size:x-large;font-stretch:condensed"><i class="fas fa-book-reader"></i> Test of Early Arabic Literacy Skills (TEALS)</h4>
<div class="section">
    <p class="lead">لاختبار الطّلبة في: الوعي الصّوتي،الجانب الصّرفي، قراءة الكلمات والكتابة يرجى تسجيل دخولكم</p>
</div>
<div class="divider"></div>
<div class="section">
   
    <form action="/login" method="POST">

        <div>
            <label for="email"> الايميل</label>
            <input type="email" id="email" name="email" required />
        </div>


        <div>
            <label for="password"> كلمة العبور</label>
            <input type="password" id="password" name="password" required />
        </div>
    <div class="row">
        <button type"submit" class="btn btn-secondary"><i class="fa fa-unlock"></i> دخول</button>
        
    </form> 
    <a href="/register" class="btn orange"> تسجيل</a>
    </div>
</div>